@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "keep-react/css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Poppins';
  background-color: hsla(150, 17%, 85%, 0.36);
}

input::placeholder {
  color: slateGray !important;
  opacity: 1 !important;
}

select {
  color: slateGray !important;
  opacity: 1 !important;
}

option {
  color: slateGray !important;
  opacity: 1 !important;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
}
}